<!DOCTYPE html>
<html lang="en" ng-app="myApp">
{#<html lang="en">#}
<head>
	<meta charset="utf-8">
	<title>Midwood FC Fantasy League</title>

	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/lib/jquery_110.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/lib/underscore_152.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular_123.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/controllers.js"></script>
    <script type="text/javascript" src="/static/js/directives.js"></script>
</head>

{% block body %}{% endblock %}
</html>
