{% extends 'base.html' %}
{% block body %}

<body>

{#            <a href="{% url 'socialauth_begin' 'google-oauth2' %}">Login with Google</a>#}


    <nav class="navbar navbar-default" role="navigation">
        <button class="btn btn-primary">Team</button>
        <button class="btn btn-primary">Admin</button>
        <div class="navbar-right">
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
                <a href="{% url 'logoff' %}">Logoff</a>
            {% else %}
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class='zocial googleplus navbar-btn'>Sign in with Google</a>
                    <a href="{% url 'social:begin' 'facebook' %}" class='zocial facebook navbar-btn'>Sign in with Facebook</a>
            {% endif %}
        </div>
    </nav>
    {% if user.is_authenticated %}
    {% verbatim %}
	<div class='container'>
		<div class="row">

            <div ng-include src="'/static/partials/manage-team.html'"></div>
            <div ng-include src="'/static/partials/players-list.html'"></div>
		
        </div>

        <div ng-include src="'/static/partials/manage-games.html'"></div>

	</div>
   {% endverbatim %}
   {% endif %}
</body>

{% endblock %}