{% extends 'base.html' %}
{% block body %}

<body>

            <a href="{% url 'socialauth_begin' 'google-oauth2' %}">Login with Google</a>

{% verbatim %}
	<div class='container'>
		<div class="row">

		  <div class="col-md-6" ng-controller="TeamCtrl">
            <!-- <ul ng-repeat="player in showAllPlayers()">
                <li>{{player.name}} - {{player.position}} - {{player.init_value}}</li>
            </ul> -->

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <td>Goalkeeper</td>
                        <td>
                            <div class='teamplayers' ng-repeat='player in getGoalkeeper()'>
                                <teamplayer player='player'></teamplayer>
                            </div>
                            <addplayers position='GK'></addplayers>
                        <!-- <button class="btn" ng-repeat="i in _.range(getGoalkeeper().length,getMaxGoalkeepers())">Add</button> -->
                        <!-- <li ng-repeat="n in [] | range:5:10">{{n}}</li> -->
                        
                        </td>
                    </tr>
                    <tr>
                        <td>Defenders</td>
                        <td>
                            <div class='teamplayers' ng-repeat='player in getDefenders()'>
                                <teamplayer player='player'></teamplayer>
                            </div>

                        <addplayers position='D'></addplayers>
                        </td>
                    </tr>
                    <tr>
                        <td>Midfielders</td>
                        <td>
                        <div class='teamplayers' ng-repeat='player in getMidfielders()'>
                                <teamplayer player='player'></teamplayer>
                            </div>
                            <addplayers position='M'></addplayers>
                        </td>
                    </tr>
                    <tr>
                        <td>Forwards</td>
                        <td>
                            <div class='teamplayers' ng-repeat='player in getForwards()'>
                                <teamplayer player='player'></teamplayer>
                            </div>
                            <addplayers position='F'></addplayers>
                        </td>
                    </tr>
                    <tr>
                        <td>Bench</td>
                        <td>
                            <div class='teamplayers' ng-repeat='player in getSubs()'>
                                <teamplayer player='player'></teamplayer>
                            </div>
                            <addplayers position='S'></addplayers>
                        </td>
                    </tr>
                </table>
            </div>

            <div>

            </div>

            <div>Total value used {{getTotalValue()}} (out of {{getMaxValueToSpend()}})</div>
            <!-- <div>{{showAllPlayers()}}</div> -->

            <button class='btn btn-primary' ng-click='saveTeam()'>Save Team</button>
		  </div>
		  <div class="col-md-6" ng-controller="PlayersCtrl">
	  		  <div class='container'>
                <position position="ALL" ng-click="udatePlayersTable('ALL')"></position>
                <position position="GK" ng-click="udatePlayersTable('GK')"></position>
                <position position="D" ng-click="udatePlayersTable('D')"></position>
                <position position="M" ng-click="udatePlayersTable('M')"></position>
                <position position="F" ng-click="udatePlayersTable('F')"></position>
			    <!-- <input type="text" ng-model="search.position"> -->
                <div class="table-responsive">
    			    <table class="table table-striped table-bordered table-condensed players-table">
    			        <tr ng-repeat="player in getPlayers() | orderBy: 'name'">
    			            <td>{{ player.name }}</td>
    			            <td>{{ player.position }}</td>
    			            <td>{{ player.init_value }}</td>
                            <td> 
                                <player player="player" position="{{positionsToShow()}}"></player>
                            </td>
    			        </tr>
    			    </table>
                </div>

			</div>
		  </div>
		</div>
	</div>


{% endverbatim %}
    
    
</body>

{% endblock %}